* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #869960;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 85%;
}
.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/color-tile.png") left bottom repeat-x,
    #fff url("../images/color-tile.png") left top repeat-x;
  padding: 15px 0px 15px 40px;
  box-sizing: border-box;
}
header {
  padding-top: 20px;
  color: #617140;
  background-image: url("../images/flower.jpg");
  background-position: right center;
  background-repeat: no-repeat;
}
header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%;
}
header p {
  margin: 0;
}
/* Site navigation*/

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
.site-nav ul {
  margin: 0;
  padding: 0;
}
.site-nav {
  margin-top: 20px;
  margin-bottom: 0;
}
.site-nav a {
  display: block;
  text-decoration: none;
  color: #617140;
  border: solid #e5e9dc;
  border-bottom: none;
  padding: 10px 20px;
}
.site-nav a:hover {
  background-color: #e5e9dc;
}
/* End Site navigation*/

.content-area {
  border-top: 3px solid #e5e9dc;
  border-bottom: 3px solid #e5e9dc;
  padding-top: 0px;
  padding-bottom: 20px;
}
.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}
/*Sprites*/
.ui-menu ul {
  margin: 0;
  padding: 0;
}
.ui-menu li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
.ui-menu a {
  display: block;
  height: 50px;
  width: 50px;
  background-image: url("../images/sprites.png");
  text-indent: -999999px;
}
.ui-home:hover {
  background-position: 50px 0;
}
.ui-profile {
  background-position: 0px -50px;
}
.ui-profile:hover {
  background-position: 50px -50px;
}
.ui-settings {
  background-position: 0px 50px;
}
.ui-settings:hover {
  background-position: 50px 50px;
}
/*Sprites*/
img {
  width: 100%;
}
.bird {
  padding: 100px 0;
  background: #c2bbba url("../images/bird.jpg") center center;
  background-size: cover;
  text-align: center;
}
/* overlapping and transparent image */
.image-banner img {
  display: block;
}
.image-banner {
  position: relative;
}
.image-text {
  position: absolute;
  padding: 10px 20px;
  color: #fff;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
  width: 34%;
  letter-spacing: normal;
  float: left;
  padding: 20px 40px;
  background-color: #e5e9dc;
  background-image: linear-gradient(to bottom, pink, #fff);
  box-sizing: border-box;
  font-size: 120%;
}
footer {
  text-align: center;
  padding-bottom: 20px;
  color: grey;
  padding-top: 20px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
